section.blocks
  .blocks__box
    .blocks__inner
      header.blocks__header
        h2.blocks__title gulpでアイコンフォントを作りました。
        include ../_mixin/_label
        +Label('javascript', 'gulp')
      section.blocks__text
        .blocks__time
          p 2017.10.22
        .blocks__text-title
          h3.blocks__title gulpモジュールのインストール
        .blocks__paragraph
          p ?今回は「
            a(href='https://www.npmjs.com/package/gulp-iconfont-css', target='_balnk').blocks__link.blocks__blank gulp-iconfont-css
            | 」を使った。下記コマンドを入力
          pre.blocks__code
            code.ruby
              | npm install --save-dev gulp-iconfont gulp-iconfont-css
        .blocks__paragraph
          p 公式サイトの通り、gulpタスクを書く
          pre.blocks__code
            code.javascript
              | import iconfont from 'gulp-iconfont';
              | import iconfontCss from 'gulp-iconfont-css';
              | const fontName = 'slffont'; // フォントの名前
              | 
              | gulp.task('iconfont', () => {
              |    gulp.src(['./app/images/fonts/*.svg'])
              |      .pipe(iconfontCss({
              |        fontName: fontName,
              |        path: './app/css/setting/_fontsetting.sass',  // フォントcssを作るためのベースのファイル
              |        targetPath: '../../app/css/parts/_font.sass',  // フォントcss
              |        fontPath: '../../fonts/'  // ファイルのパス
              |      }))
              |      .pipe(iconfont({
              |        fontName: fontName,
              |        formats: ['ttf', 'eot', 'woff', 'svg']
              |       }))
              |      .pipe(gulp.dest('./dist/fonts/'));
              |  });
          p _fontsetting.sassの中身はこんな感じ
          pre.blocks__code
            code.css
              | @font-face
              |   font-family: "<%= fontName %>"
              |   src: url('<%= fontPath %><%= fontName %>.eot')
              |   src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format("eot"), url('<%= fontPath %><%= fontName %>.woff2') format("woff2"), url('<%= fontPath %><%= fontName %>.woff') format("woff"), url('<%= fontPath %><%= fontName %>.ttf') format("truetype"), url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format("svg")
              | 
              | @mixin font
              |   font-family: "<%= fontName %>"
              |   -webkit-font-smoothing: antialiased
              |   -moz-osx-font-smoothing: grayscale
              |   font-style: normal
              |   font-variant: normal
              |   font-weight: normal
              |   text-decoration: none
              |   text-transform: none

          p コマンドを叩くと「./dist/fonts/」フォルダにフォントができた
        .blocks__paragraph
          .blocks__text-title
            h3.blocks__title 作られたフォントの使用方法






