$color_gray: #888889;
$color_black: #000;
$color_white: #fff;
$color_white_gray: #e8e8e9;
$color_white_gray2: #f9f9f9;
$color_mint: #5accb6;
$color_mint_alpha: rgba(90, 204, 182, 0.24);
$color_pink: #f68e7b;
$color_light_blue: #2fdee4;
$color_gold: #be8a3a;
$color_red: #ff6347;
$color_yellow: #ffff00;
$color_violet: #9370db;
