$dev-xs: 320px;
$dev-sm: 768px;
$dev-md: 992px;
$dev-lg: 1266px;

@define-mixin xs {
  @media(min-width: $dev-xs) {
    @mixin-content
  }
}

@define-mixin sm {
  @media(max-width: $dev-sm) {
    @mixin-content
  }
}

@define-mixin md {
  @media(min-width: $dev-md) {
    @mixin-content
  }
}

@define-mixin lg {
  @media(min-width: $dev-lg) {
    @mixin-content
  }
}

@define-mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

@define-mixin position_centar {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

@define-mixin input_display {
  color: inherit;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
  outline: none;
  display: block;
  width: 100%;
  transition: $tr_most_slow;

  &:focus {
    border-bottom: 1px solid $color_pink;
  }
}
