.button-wrapper {
  display: flex;
  margin: auto;
  justify-content: center;
}

.button {
  width: 30%;
  max-width: 24rem;
  border: transparent;
  padding: 1.6rem;
  font-size: $fs_mm;
  background-color: $color_white;
  transition: $tr_base;
  border-radius: 0.5rem;
  text-align: center;

  &:hover {
    background-color: rgba($color_white, 0.6);
  }

  &--ng {
    margin-left: 0.8rem;
    background-color: $color_black;
    color: $color_white;

    &:hover {
      background-color: rgba($color_black, 0.6);
    }
  }

  &--submit {
    margin-right: 0.8rem;
  }
}
