.result {
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba($color_white, 0.5);

  &__info-text {
    color: $color_black;
    font-size: $fs_mm;
    text-align: center;
    margin-bottom: 3.2rem;
    font-weight: $fw_bold;
  }
}
