aside.ad
  .ad__inner
    script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    // slf-01
    ins.adsbygoogle.ad__img(style='display:block', data-ad-client='ca-pub-6263227519383768', data-ad-slot='4154821535', data-ad-format='auto')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});
