header.header
  .header__title
    h1.header__title-text slf-magazine / 
      span.header__title-sub web開発技術向上のための個人メモ
  nav.header__nav
    h2.header__logo
      a(href='#top').header__logo-link
        img(src='images/logo.svg', alt='slf-magazine').header__logo-img
    .header__menu-wrap
      ul.header__menu
        li.header__list
          .header__list-link javascript
        li.header__list
          .header__list-link css
        li.header__list
          .header__list-link html
        li.header__list
          .header__list-link ruby
        li.header__list
          .header__list-link python
        li.header__list
          .header__list-link go
        li.header__list
          .header__list-link php
