extends _layout/_default

block append vars
  -
    title       = '管理画面'
    description = '';
    admin = true;

block content
  include _include/_header.pug
  article.article
    main.main(role='main')
      #js-admin-page
      //- include _include/_ad.pug

block footer
