extends _layout/_default

block append vars
  -
    title       = '記事の作成!!!!'

block content
  main.main(role='main')
    form(action="/result", method='post')
      #js-edit
    //- #js-edit-m

block footer
