extends _layout/_default

block append vars
  -
    title       = '記事の作成'

block content
  article.article
    main.main(role='main')
      form(action="/result", method='post')
        #js-edit

block footer
