extends _layout/_default

block append vars
  -
    title       = 'slf-magazine'
    description = '';

block content
  include include/_header.pug
  article.article
    main.main(role='main')
      include pages/_top.pug
      include pages/_block.pug
      include pages/_block_3.pug
      include pages/_block_2.pug
      include include/_ad.pug

block footer
