extends _layout/_default

block append vars
  -
    title       = '作成した記事の確認'

block content
  article.article
    main.main(role='main')!=postHtml
      form(action='/', method='get')
        input(type='hidden', name='saved', value='true')
        #js-submit

block footer
